## Understanding and Predicting Property Maintenance Fines

Every year, the city of Detroit issues millions of dollars in fines to residents and every year, many of these fines remain unpaid. Enforcing unpaid blight fines is a costly and tedious process, so the city wants to know: how can we increase blight ticket compliance?

The first step in answering this question is understanding when and why a resident might fail to comply with a blight ticket. This is where predictive modeling comes in. This code was written to predict whether a given blight ticket will be paid on time.    

Each row in dataset corresponds to a single blight ticket, and includes information about when, why, and to whom each ticket was issued. The target variable is compliance, which is True if the ticket was paid early, on time, or within one month of the hearing data, False if the ticket was paid after the hearing date or not at all, and Null if the violator was found not responsible. 

Note: All tickets where the violators were found not responsible are not considered during evaluation. They are included in the training set as an additional source of data for visualization, and to enable unsupervised and semi-supervised approaches. However, they are not included in the test set.

In [3]:
# import required packages 
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression

In [11]:
# import data in train, test, address, and latlon dataframes
df_train = pd.read_csv(r'address1\train.csv'
                       , encoding='iso-8859-1')
df_test = pd.read_csv(r'address2\test.csv'
                       , encoding='utf-8')
df_address = pd.read_csv(r'address3\addresses.csv'
                       , encoding='utf-8')
df_latlon = df_address = pd.read_csv(r'address4\latlons.csv'
                       , encoding='utf-8')
print(f'train dataframe \n {df_train.head()}\n, \n test dataframe \n {df_test.head()}\n, address dataframe \n {df_address.head()}\n, latlon dataframe \n {df_latlon.head()}\n')

train dataframe
    ticket_id                                     agency_name  \
0      22056  Buildings, Safety Engineering & Env Department
1      27586  Buildings, Safety Engineering & Env Department
2      22062  Buildings, Safety Engineering & Env Department
3      22084  Buildings, Safety Engineering & Env Department
4      22093  Buildings, Safety Engineering & Env Department

     inspector_name                      violator_name  \
0   Sims, Martinzie  INVESTMENT INC., MIDWEST MORTGAGE
1  Williams, Darrin           Michigan, Covenant House
2   Sims, Martinzie                    SANDERS, DERRON
3   Sims, Martinzie                       MOROSI, MIKE
4   Sims, Martinzie                    NATHANIEL, NEAL

   violation_street_number violation_street_name  violation_zip_code  \
0                   2900.0                 TYLER                 NaN
1                   4311.0               CENTRAL                 NaN
2                   1449.0            LONGFELLOW                 NaN
3                   1441.0            LONGFELLOW                 NaN
4                   2449.0             CHURCHILL                 NaN

   mailing_address_str_number mailing_address_str_name     city  ...  \
0                         3.0                S. WICKER  CHICAGO  ...
1                      2959.0       Martin Luther King  Detroit  ...
2                     23658.0                 P.O. BOX  DETROIT  ...
3                         5.0                ST. CLAIR  DETROIT  ...
4                      7449.0                CHURCHILL  DETROIT  ...

  clean_up_cost judgment_amount payment_amount balance_due  \
0           0.0           305.0            0.0       305.0
1           0.0           855.0          780.0        75.0
2           0.0             0.0            0.0         0.0
3           0.0             0.0            0.0         0.0
4           0.0             0.0            0.0         0.0

          payment_date      payment_status collection_status grafitti_status  \
0                  NaN  NO PAYMENT APPLIED               NaN             NaN
1  2005-06-02 00:00:00        PAID IN FULL               NaN             NaN
2                  NaN  NO PAYMENT APPLIED               NaN             NaN
3                  NaN  NO PAYMENT APPLIED               NaN             NaN
4                  NaN  NO PAYMENT APPLIED               NaN             NaN

                          compliance_detail  compliance
0               non-compliant by no payment         0.0
1  compliant by late payment within 1 month         1.0
2            not responsible by disposition         NaN
3            not responsible by disposition         NaN
4            not responsible by disposition         NaN

[5 rows x 34 columns]
,
 test dataframe
    ticket_id                 agency_name      inspector_name  \
0     284932  Department of Public Works  Granberry, Aisha B
1     285362  Department of Public Works      Lusk, Gertrina
2     285361  Department of Public Works      Lusk, Gertrina
3     285338  Department of Public Works   Talbert, Reginald
4     285346  Department of Public Works   Talbert, Reginald

        violator_name  violation_street_number violation_street_name  \
0    FLUELLEN, JOHN A                  10041.0             ROSEBERRY
1     WHIGHAM, THELMA                  18520.0             EVERGREEN
2     WHIGHAM, THELMA                  18520.0             EVERGREEN
3  HARABEDIEN, POPKIN                   1835.0               CENTRAL
4    CORBELL, STANLEY                   1700.0               CENTRAL

  violation_zip_code mailing_address_str_number mailing_address_str_name  \
0                NaN                        141                ROSEBERRY
1                NaN                      19136              GLASTONBURY
2                NaN                      19136              GLASTONBURY
3                NaN                       2246                   NELSON
4                NaN                       3435                   MUNGER

        city  ...                              violation_description  \
0    DETROIT  ...  Failure to secure City or Private solid waste ...
1    DETROIT  ...  Allowing bulk solid waste to lie or accumulate...
2    DETROIT  ...  Improper placement of Courville container betw...
3  WOODHAVEN  ...  Allowing bulk solid waste to lie or accumulate...
4    LIVONIA  ...  Violation of time limit for approved container...

              disposition  fine_amount admin_fee state_fee late_fee  \
0  Responsible by Default        200.0      20.0      10.0     20.0
1  Responsible by Default       1000.0      20.0      10.0    100.0
2  Responsible by Default        100.0      20.0      10.0     10.0
3  Responsible by Default        200.0      20.0      10.0     20.0
4  Responsible by Default        100.0      20.0      10.0     10.0

  discount_amount clean_up_cost judgment_amount  grafitti_status
0             0.0           0.0           250.0              NaN
1             0.0           0.0          1130.0              NaN
2             0.0           0.0           140.0              NaN
3             0.0           0.0           250.0              NaN
4             0.0           0.0           140.0              NaN

[5 rows x 27 columns]
, address dataframe
                                   address        lat        lon
0  4300 rosa parks blvd, Detroit MI 48208  42.346169 -83.079962
1                14512 sussex, Detroit MI  42.394657 -83.194265
2                3456 garland, Detroit MI  42.373779 -82.986228
3                5787 wayburn, Detroit MI  42.403342 -82.957805
4              5766 haverhill, Detroit MI  42.407255 -82.946295
, latlon dataframe
                                   address        lat        lon
0  4300 rosa parks blvd, Detroit MI 48208  42.346169 -83.079962
1                14512 sussex, Detroit MI  42.394657 -83.194265
2                3456 garland, Detroit MI  42.373779 -82.986228
3                5787 wayburn, Detroit MI  42.403342 -82.957805
4              5766 haverhill, Detroit MI  42.407255 -82.946295

In [12]:
len(df_train['ticket_id'].value_counts())

250306

In [40]:
df_train[['fine_amount','admin_fee', 'state_fee', 'late_fee', 'discount_amount',
       'clean_up_cost', 'judgment_amount' ]]

,fine_amount,admin_fee,state_fee,late_fee,discount_amount,clean_up_cost,judgment_amount
0,250.0,20.0,10.0,25.0,0.0,0.0,305.0
1,750.0,20.0,10.0,75.0,0.0,0.0,855.0
2,250.0,0.0,0.0,0.0,0.0,0.0,0.0
3,250.0,0.0,0.0,0.0,0.0,0.0,0.0
4,250.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...
250301,1000.0,0.0,0.0,0.0,0.0,0.0,0.0
250302,1000.0,0.0,0.0,0.0,0.0,0.0,0.0
250303,1000.0,0.0,0.0,0.0,0.0,0.0,0.0
250304,1000.0,0.0,0.0,0.0,0.0,0.0,0.0
250305,1000.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
# list of columns to be used in the model for training set 
col = ['ticket_id', 'fine_amount', 'late_fee', 'discount_amount', \
        'judgment_amount', 'compliance']

In [14]:
df_final_train = df_train[col]
df_final_test = df_test[col[: len(col)-1]] #test set for the model
df_final_test_drop = df_final_test.dropna() #dropped null values

In [15]:
df_final_drop = df_final_train.dropna() #dropping null values from the training set 
df_feature = df_final_drop[col[: len(col)-1]] #final training set 
df_label = df_final_drop['compliance'] # dropping compliance as it is not required 
X_train, X_test, y_train, y_test = train_test_split(df_feature, df_label, random_state=0)

In [16]:
# train a logistic regression model 
clf = LogisticRegression().fit(X_train, y_train)

In [17]:
# check the accuracy
clf.score(X_test, y_test)
# seems like a good model

0.931048286214661

In [89]:
# predict the probability on test set 
data = clf.predict_proba(df_final_test_drop[col[: len(col)-1]])[:,1]

In [90]:
pd.Series(data=data, index=df_final_test_drop['ticket_id'])

ticket_id
284932    0.050666
285362    0.004446
285361    0.067789
285338    0.050636
285346    0.067790
            ...
376496    0.003876
376497    0.003876
376499    0.059578
376500    0.059578
369851    0.096334
Length: 61001, dtype: float64